@import url('https://fonts.googleapis.com/css?family=Tilt+Neon');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Tilt+Neon";
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon-image {
    position: absolute;
    bottom: 50%;
    left: 35%;
    transform: translate(-63%, 20);
    height: 18%
}